footer {
  position: relative;
  z-index: 1;
  background-color: $color-primary;
  @include colorAndFont(white, 1em);
  .footer-side {
    @include display(flex, row, center, center);
    p {
      margin: 0;
    }
    .logo {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 0.3em;
      @media screen and (min-width: 576px) {
        width: 45px;
        height: 45px;
      }
    }
  }
}

.footer {
  justify-content: space-around;
  p {
    @include colorAndFont(white, 0.8em);
    @media screen and (min-width: 576px) {
      @include colorAndFont(white, 1em);
    }
  }
}

ul {
  @include listStyle;
  a {
    @include colorAndFont(white, $font-primary);
    text-decoration: none;

    &:hover {
      @include linkHover;
    }
  }
}
